<!-- this can be added when the base template is made aka the dashboard -->
<!-- extends 'base.html' -->
{% extends 'base.html' %}
{% block content %}
<!--  block content -->
{% load static %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col mx-auto mb-3">
        <h2>Posted Crafts </h2>
        <hr />
        <p class="card-text">
         <form method="GET">
  <div class="input-group">
    <input type="text" class="form-control rounded-start" name="search" placeholder="Search">
    <button class="btn btn-dark rounded-end" type="submit">
      <i class="fas fa-search"></i>
    </button>
  </div>
</form>
        </p>
      </div>
    </div>
    <div class="row">
      {% for craft in template_data.crafts %}
        <div class="col-md-4 col-lg-3 mb-2">
          <div class="p-2 card border-0 align-items-center pt-4">
            
            {% if craft.image %}
                  <img src="{{ craft.image.url }}" class="card-img-top rounded img-card-200" alt="Craft Image">

            {% else %}
                  <img src="{% static 'img/Default.png' %}" class="card-img-top rounded img-card-200">
            {% endif %}

            <div class="card-body text-center">
              <h5 class="card-title">{{ craft.title }}</h5>
              <a href="{% url 'Media.show' craft.id %}" class="btn btn-theme">
                View Details
              </a>
             </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock content %}
<!-- endblock content %} -->
