{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <!-- Craft Title & Description -->
      <div class="col-md-6 mx-auto mb-3">
        <h2>{{ template_data.craft.title }}</h2>
        <hr />
        <p><b>Description:</b> {{ template_data.craft.description }}</p>
      </div>

      <!-- Image Placeholder -->
      {% if template_data.craft.image %}
          <img src="{{ template_data.craft.image.url }}" class="card-img-top rounded img-card-200">
      {% else %}
          <img src="{% static 'img/Default.png' %}" class="card-img-top rounded img-card-200">
      {% endif %}



    </div>

    <!-- Embedded YouTube Video -->
    {% if template_data.craft.video %}
    <div class="row mt-4">
      <div class="col-md-8 mx-auto text-center">
        <div class="card p-3 shadow-sm">
          <h5>Tutorial Video</h5>

            {% if template_data.craft.video %}

                <video width="320" height="240" controls>
                 <source src={{ template_data.craft.video.url }} type="video/mp4">
    {#              <source src="movie.ogg" type="video/ogg">#}
                Your browser does not support the video tag.
                </video>

            {% else %}

                <video width="320" height="240" controls>
                     <source src={% static 'videosCraftSiteDir/Countdown8.mp4' %} type="video/mp4">
    {#              <source src="movie.ogg" type="video/ogg">#}
                Your browser does not support the video tag.
                </video>

            {% endif %}

{#          <iframe width="100%" height="315"#}
{#                  src="{{ template_data.craft.video }}"#}
{#                  frameborder="0" allowfullscreen></iframe>#}
        </div>
      </div>
    </div>
    {% endif %}

    <!-- Locations for Materials -->
{#    {% if template_data.craft.locations %}#}
{#    <div class="row mt-4">#}
{#      <div class="col-md-8 mx-auto">#}
{#        <div class="card p-3 shadow-sm">#}
{#          <h5>Where to Buy Materials:</h5>#}
{#          <ul>#}
{#            {% for location in template_data.craft.locations %}#}
{#            <li>{{ location }}</li>#}
{#            {% endfor %}#}
{#          </ul>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{#    {% endif %}#}
  </div>
</div>
{% endblock content %}



{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{##}
{#</body>#}
{#</html>#}

{#<!-- add the extends base line when dashboard made -->#}
{##}
{#<!--  block content %} -->#}
{#{% load static %}#}
{#<div class="p-3">#}
{#  <div class="container">#}
{#    <div class="row mt-3">#}
{#      <div class="col-md-6 mx-auto mb-3">#}
{#        <h2>{{ template_data.craft.name }}</h2>#}
{#        <hr />#}
{#        <p><b>Description:</b> {{ template_data.craft.description }}#}
{#        </p>#}
{#      </div>#}
{#      <div class="col-md-6 mx-auto mb-3 text-center">#}
{#        <img src="{% static 'img/about.jpg' %}"#}
{#          class="rounded" />#}
{#      </div>#}
{#    </div>#}
{#  </div>#}
{#</div>#}
{##}
{#<!-- add the endblack line when dahsboard made -->#}




{##}
{#{% extends 'base.html' %}#}
{#{% block content %}#}
{#{% load static %}#}
{#<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">#}
{#<div class="p-3">#}
{#  <div class="container">#}
{#    <div class="row mt-3">#}
{#      <div class="col-md-6 mx-auto mb-3 text-white">#}
{#        <h2>{{ template_data.craft.title }}</h2>#}
{#        <hr />#}
{#        <p><b>Description:</b> {{ template_data.craft.description }}</p>#}
{#        <p><b>Price:</b> ${{ template_data.craft.price }}</p>#}
{#        <p class="card-text">#}
{#          <form method="post"#}
{#            action="{% url 'cart.add' id=template_data.craft.id %}">#}
{#            <div class="row">#}
{#              {% csrf_token %}#}
{#              <div class="col-auto">#}
{#                <div class="input-group col-auto">#}
{#                  <div class="input-group-text">Quantity#}
{#                    </div>#}
{#                  <input type="number" min="1" max="10"#}
{#                    class="form-control quantity-input"#}
{#                    name="quantity" value="1">#}
{#                </div>#}
{#              </div>#}
{#              <div class="col-auto">#}
{#                <button class="btn bg-dark text-white"#}
{#                  type="submit">Add to cart</button>#}
{#              </div>#}
{#            </div>#}
{#          </form>#}
{#        </p>#}
{#        <h2 style="color: white;">Reviews</h2>#}
{#        <hr />#}
{#        <ul class="list-group">#}
{#          {% for review in template_data.reviews %}#}
{#          <li class="list-group-item pb-3 pt-3">#}
{#            <h5 class="card-title">#}
{#              Review by {{ review.user.username }}#}
{#            </h5>#}
{#            <h6 class="card-subtitle mb-2 text-muted">#}
{#              {{ review.date }}#}
{#            </h6>#}
{#            <p class="card-text">{{ review.comment }}</p>#}
{#            {% if user.is_authenticated and user == review.user %}#}
{#            <a class="btn btn-primary" href="{% url 'movies.edit_review' id=template_data.craft.id review_id=review.id %}">#}
{#              Edit#}
{#            </a>#}
{#            <a class="btn btn-danger" href="{% url 'movies.delete_review' id=template_data.craft.id review_id=review.id %}">#}
{#              Delete#}
{#            </a>#}
{#            {% endif %}#}
{#          </li>#}
{#          {% endfor %}#}
{#        </ul>#}
{#        {% if user.is_authenticated %}#}
{#        <div class="container mt-4">#}
{#          <div class="row justify-content-center">#}
{#            <div class="col-12">#}
{#              <div class="card shadow p-3 mb-4 rounded">#}
{#                <div class="card-body">#}
{#                  <b class="text-start">Create a review</b><br /><br />#}
{#                  <form method="POST" action="{% url 'movies.create_review' id=template_data.craft.id %}">#}
{#                        {% csrf_token %}#}
{#                    <p>#}
{#                      <label for="comment">Comment:</label>#}
{#                      <textarea name="comment" required#}
{#                      class="form-control"#}
{#                      id="comment"></textarea>#}
{#                    </p>#}
{#                    <div class="text-center">#}
{#                      <button type="submit"#}
{#                        class="btn bg-dark text-white">#}
{#                        Add Review#}
{#                      </button>#}
{#                    </div>#}
{#                  </form>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#        {% endif %}#}
{#      </div>#}
{#      <div class="col-md-6 mx-auto mb-3 text-center">#}
{#        <img src="{{ template_data.craft.image.url }}" class="rounded img-card-400" />#}
{#      </div>#}
{#    </div>#}
{#  </div>#}
{#</div>#}
{#{% endblock content %}#}


{#{% extends 'base.html' %}#}
{#{% block content %}#}
{#{% load static %}#}
{#<div class="p-3">#}
{#  <div class="container">#}
{#    <div class="row mt-3">#}
{#      <div class="col mx-auto mb-3">#}
{#        <h2>List of Movies</h2>#}
{#        <hr />#}
{#      </div>#}
{#    </div>#}
{#    <div class="row">#}
{#      {% for movie in template_data.movies %}#}
{#      <div class="col-md-4 col-lg-3 mb-2">#}
{#        <div class="p-2 card align-items-center pt-4">#}
{#          <img src="{% static 'img/about.jpg' %}"#}
{#            class="card-img-top rounded">#}
{#          <div class="card-body text-center">#}
{#            {{ movie.name }}#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#      {% endfor %}#}
{#    </div>#}
{#  </div>#}
{#</div>#}
{#{% endblock content %}#}

