{% extends 'base.html' %}
{% block content %}
<div class="p-3 mt-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card shadow p-4 mb-4 rounded">
          <div class="card-body text-center">
            <h2 class="mb-3">Reset Your Password</h2>
            <hr />
            <p>Please enter the email associated with your account, and we’ll send you a link to reset your password.</p>
            <form method="POST">
              {% csrf_token %}
              <div class="mb-3 d-flex justify-content-center align-items-center">
                <label for="{{ form.email.id_for_label }}" class="me-2 fw-bold mb-0">Email:</label>
                {{ form.email }}
              </div>
              <div class="mt-4">
                <button type="submit"
                        class="btn text-white px-4 py-2"
                        style="background-color: #FEB856; border: none;">
                  Send Reset Link
                </button>
              </div>
            </form>
            <div class="mt-4">
              <a href="{% url 'accounts.login' %}" class="text-muted">
                Back to Login
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
